<section class="section about me">
  <div class="section__title">About me</div>
  <div class="section__content">
    <p style="font-size: 22px;"> Welcome to my website! I hope you get a small insight into my background by reading this section. 
      You can scroll down to find more about the books I'm reading as well as my skills, experiences, achievements, and projects. 
      Thanks for visiting! 
    </p>

    <h3 style="margin-bottom: 0;"> Education: </h3>
    <p>
    </p>

    <h3 style="margin-bottom: 0;"> Occupation: </h3>
    <p>
    </p>

    <h3 style="margin-bottom: 0;"> Why I Code: </h3>
    <p>
    </p>

    <h3 style="margin-bottom: 0;"> What I Code: </h3>
    <p>
    </p>

    <h3 style="margin-bottom: 0;"> Interests: </h3>
    <p>
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
