<section class="section about me">
  <div class="section__title">About me</div>
  <div class="section__content">
    <p style="font-size: 22px;"> Welcome to my website! I hope you get a small insight into my background by reading this section. 
      You can scroll down to find more about the books I'm reading as well as my skills, experiences, achievements, and projects. 
      Thanks for visiting! 
    </p>

    <a class="status" href="https://ashthefallen.github.io/resume.pdf" target="_blank"> 
      <div class="status__light"> 
        <div class="status__light__ring">
        </div> 
        <div class="status__light__led"></div> 
      </div> 
      <div class="status__message">I am currently looking to continue my studies in the form of MSc or PhD!</div> </a>

    <h3 style="margin-bottom: 0;"> Education: </h3>
    <p>
    </p>

    <h3 style="margin-bottom: 0;"> Occupation: </h3>
    <p>
    </p>

    <h3 style="margin-bottom: 0;"> Why I Code: </h3>
    <p>
    </p>

    <h3 style="margin-bottom: 0;"> What I Code: </h3>
    <p>
    </p>

    <h3 style="margin-bottom: 0;"> Interests: </h3>
    <p>
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
