<section class="section about me">
  <div class="section__title">About me</div>
  <div class="section__content">
    <p style="font-size: 22px;"> Welcome to my website! I hope you get a small insight into my background by reading this section. 
      You can scroll down to find more about my current eduaction and occupation as my skills, experiences, publications, and projects. 
      Thanks for visiting! 
    </p>

    <a class="status" href="{{site.resume}}" target="_blank"> 
      <div class="status__light"> 
        <div class="status__light__ring">
        </div> 
        <div class="status__light__led"></div> 
      </div> 
      <div class="status__message">I am currently looking for a part-time job beside my MSc in AI!</div> </a>
</section>

<section class="section education">
  <div class="section__title">Education</div>
  <div class="section__content">
    <p style="font-size: 22px;"> 
    I graduated <a href="https://www.veluwscollege.nl/walterbosch/" target="_blank"></a>Veluws College Walterbosch</a> in 2016, 
    however none of the studies available at the universities of applied sciences spoke to me. 
    Therefore I decided to extend my study for two more years, so that I could study AI (Artificial Intelligence) 
    at <a href="https://www.uu.nl/bachelors/kunstmatige-intelligentie" target="_blank">Utrecht University</a>.
    In 2021, after three years, I finished my bachelor's degree. Currently I am continuing my studies in the form of a master's degree, 
    also at <a href="https://www.uu.nl/masters/en/artificial-intelligence" target="_blank">Utrecht University</a>.
    </p>
</section>

<section class="section occupation">
  <div class="section__title">Occupation</div>
  <div class="section__content">
    <p style="font-size: 22px;"> 

    </p>
</section>

<section class="section why i code">
  <div class="section__title">Why I Code</div>
  <div class="section__content">
    <p style="font-size: 22px;"> 

    </p>
</section>

<section class="section what i code">
  <div class="section__title">What I Code</div>
  <div class="section__content">
    <p style="font-size: 22px;"> 

    </p>
</section>

<section class="section interests">
  <div class="section__title">Interests</div>
  <div class="section__content">
    <p style="font-size: 22px;"> 

    </p>
</section>

    <!-- {% include employment-status.html %} -->
  </div>
