<section class="section experience">
  <div class="section__title">Experience</div>
  <div class="section__content">
    <div class="jobs">
      {% for job in site.data.experience %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a href="{{job.url}}" target="_blank">{{job.company}}</a>
          </div>
          <div class="job__time">{{job.time}}</div>
        </div>
        <div class="job__position">{{job.position}}</div>
      </div>
      {% endfor %}
    </div>

    <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
  </div>
</section>

<section class="section other-projects"> 
  <div class="section__title">Publications</div> 
  <div class="section__content"> 
    <div class="project"> 
      <div class="project__name"> 
        <a href="https://ieeexplore.ieee.org/document/9469717" target="_blank" class="arrow-link text-wrap">
          Filter Based Time-Series Anomaly Detection in AMI using AI Approaches</a> 
        </div> 
        <p>Alireza Rahimi, 
          <em><strong>Afshin Shahrestani</strong></em>
          , Sina Ramezani, Pedram Zamani, Soroush Omidvar Tehrani, Mohammad Hossein Yaghmaee Moghaddam,
        </p> 
        <div class="project__used"> <span class="project__used__item">
          5th International Conference on Internet of Things and Applications (IoT 2021), Isfahan, Iran
        </span> 
      </div> 
    </div> 
  </div> 
</section>
