<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">
    <img src="{{site.baseurl}}/img/headshot.jpg" alt="" height="350px" width="350px" align="right" HSPACE="50" VSPACE="50">
    I'm
    <span class="name">Stephan Akkerman</span>
    , a back-end software engineer focused on machine learning &amp; trading
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:stephan.akkerman@gmail.com" target="_blank" class="highlight-link">stephan.akkerman@gmail.com</a>
    </span>
  </h3>
</header>
